* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root { 
  --branding-color:#ff7f50;
  --secondary-color: cornsilk;
  --highlight-color:#d2691e;
  --muted-color:#a9a9a9;
}

:root { 
  --margin-lv1: 1px;
  --margin-lv2: 5px;
  --margin-lv3: 10px;
  --margin-lv4: 15px;
  --margin-lv5: 20px;
}

:root { 
  --padding-lv1: 1px;
  --padding-lv2: 5px;
  --padding-lv3: 10px;
  --padding-lv4: 15px;
  --padding-lv5: 20px;
}

:root { 
  --font-small: 12px;
  --font-medium: 16px;
  --font-large: 20px;
  --font-ex-large: 30px;
  --font-double-ex-large: 50px;
  --font-triple-ex-large: 100px;
}

.introduction {
  color: var(--secondary-color);
  padding: var(--padding-lv5);
}
.introduction h1 {
  color: var(--branding-color);
  font-size: var(--font-triple-ex-large);
}
