* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --branding-color: #ff7f50;
  --secondary-color: cornsilk;
  --highlight-color: #d2691e;
  --muted-color: #a9a9a9;
}

:root {
  --level-1-margin: 1px;
  --level-2-margin: 5px;
  --level-3-margin: 10px;
  --level-4-margin: 15px;
  --level-5-margin: 20px;
}

:root {
  --level-1-padding: 1px;
  --level-2-padding: 5px;
  --level-3-padding: 10px;
  --level-4-padding: 15px;
  --level-5-padding: 20px;
}

:root {
  --size-small: 12px;
  --size-medium: 16px;
  --size-large: 20px;
  --size-extra-large: 30px;
  --size-double-extra-large: 50px;
  --size-triple-extra-large: 100px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  padding: var(--level-5-padding);
}

.introduction h1 {
  color: var(--branding-color);
  font-size: var(--size-triple-extra-large);
}
